.teams {
  width: 98%;
}

.teams table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.teams th,
.teams td {
  padding: 10px;
  text-align: left;
}

.teams th {
  background-color: #ececec;
}
