@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,282;1,282&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Montserrat", serif; */
  font-family: "Inter", serif;
  height: 100vh;
  width: 100vw;
}

.content-container {
  /* margin-top: 82px; */
}

body::-webkit-scrollbar {
  display: none;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  /* background: black; */
  border: 1px solid black;
}